#hp-container {
    width: 300px;
    height: 100px;
    background-color: maroon;
    border: 2px solid black;
}

#hp-fill {
    width: 100%;
    height: 100%;
    background-color: forestgreen;
    transition: width 1s;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    gap: 20px;
}

.buttons {
    display: flex;
    flex-direction: row;
    gap: 20px;
}