body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    gap: 20px;
}

#hp-containers {
    display: flex;
    flex-direction: rows;
    gap: 50px;
}

#maho-hp {
    width: 300px;
    height: 100px;
    background-color: #D1E5F4;
    border: 2px solid black;
}

#maho-fill {
    width: 100%;
    height: 100%;
    background-color: #FFF9F0;
    transition: width 1s;
}

#player-hp {
    width: 300px;
    height: 100px;
    background-color: maroon;
    border: 2px solid black;
}

#player-fill {
    width: 100%;
    height: 100%;
    background-color: forestgreen;
    transition: width 1s;
}

.buttons {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.messages {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.result {
    font-size: 36px;
}

h2 {
    text-align: center;
}

#timer-message {
    font-size: 30px;
    height:30px;
    display: flex;
    justify-content: center;
    align-items: center;
}